/*-----------------
* [Green]
*
* Theme    : Green
* Version  : 1.0
* Author   : PkLavc
* 
------------------*/
::-webkit-scrollbar{
    width: 4px;
    color: #00FF00;
}
::-webkit-scrollbar-thumb {
    background: #00FF00;
    border-radius: 4px;
    width: 4px;
}
#breaker{
    background-color: #00FF00;
}
.color{
    color: #00FF00;
}
#about-content a{
    color: #00FF00;
}
.cv a button{
    background: #00FF00;
}
.service-img img{
    background: #00FF00;
    box-shadow:0px 0px 0px 0px #00FF00;
}
.service:hover .service-img img{
    box-shadow:0px 0px 0px 400px #00FF00;
}
.html-progress{
    background: #00FF00;
}
.js-progress{
    background: #00FF00;
}
.adobe-progress{
    background: #00FF00;
}
.php-progress{
    background: #00FF00;
}
.jquery-progress{
    background: #00FF00;
}
.seo-progress{
    background: #00FF00;
}
.portfolio-text h2{
    color: #00FF00;
}
.portfolio-text button{
    color: #00FF00;
    border: 1.5px solid #00FF00;
}
.portfolio-text button::before{
    background: #00FF00;
}
.portfolio-image img::before{
    background: #00FF00;
}
.blog-date{
    background: #00FF00;
}
form button{
    background: #00FF00;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #c70039;
    }
}
